<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>게시글 목록</title>
	<link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
	<div th:replace="~{fragments/header :: header}"></div>
	<div th:replace="~{fragments/sidebar :: sidebar}"></div>
	<div id="content">
	<h1 align="center">게시글 목록</h1>
	<hr>
	<table align="center" border="1" width="700">
		<tr>
			<th bgcolor="orange">번호</th>
			<th bgcolor="orange">작성자</th>
			<th bgcolor="orange">제목</th>
			<th bgcolor="orange">작성일자</th>
			<th bgcolor="orange">조회수</th>
		</tr>
		<tr th:each="board:${boardList}">
			<td th:text="${board.articleNo}" align="center"></td>
			<td th:text="${board.id}" align="center"></td>
			<td><a th:href="@{/board/getBoard(articleNo=${board.articleNo})}" th:text="${board.title}"></a></td>
			<td th:text="${#dates.format(board.writeDate, 'yyyy-MM-dd')}" align="center"></td>
			<td th:text="${board.cnt}" align="center"></td>
		</tr>
	</table>
	<div align="center">
		<a th:href="@{/board/insertBoard.do}">게시글 등록</a>
	</div>
	</div>
	<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>

